/* 
    Created on : Feb 01, 2018
    Author     : FJ Caballero
*/
/***************************************************/
*, body {
  font-size: 12px;
  font-family: "Fira Sans", sans-serif; }

/***************************************************/
.titleFont {
  font-family: "Anton", sans-serif; }

.contentFont {
  font-family: "Fira Sans", sans-serif; }

/***************************************************/
.main-container {
  margin-top: 20px;
  -webkit-box-shadow: 1px 5px 57px -10px #565b62;
  -moz-box-shadow: 1px 5px 57px -10px #565b62;
  box-shadow: 1px 5px 57px -10px #565b62;
  margin-bottom: 20px; }

.image-content img {
  width: 100%;
  height: 100%; }

.form-content img.logo {
  width: 28%;
  margin: auto; }
.form-content h2 {
  font-size: 16px; }

.col-centered-csoft {
  float: none;
  margin: 0 auto; }

.remove-padding {
  padding-left: 0px !Important; }

.errorCSOFT {
  color: #FF0000; }

/*# sourceMappingURL=styleCSOFT.css.map */
