/* 
    Created on : Feb 01, 2018
    Author     : FJ Caballero
*/
$white-smoke: #EFEFEF;
$bright-grey: #565B62;
$tuna: #484E55;
$quartz: #DFDFE0;
$titleFont: 'Anton', sans-serif;
$contentFont: 'Fira Sans', sans-serif;
$sizeFontContent: 12;
/***************************************************/
*, body {
    font-size: $sizeFontContent + px;
    font-family: $contentFont;
}
/***************************************************/
.titleFont {
    font-family: $titleFont;
}
.contentFont {
    font-family: $contentFont;
}
/***************************************************/
.main-container {
    margin-top: 20px; 
    -webkit-box-shadow: 1px 5px 57px -10px rgba(86,91,98,1);
    -moz-box-shadow: 1px 5px 57px -10px rgba(86,91,98,1);
    box-shadow: 1px 5px 57px -10px rgba(86,91,98,1);
     margin-bottom: 20px; 
}

.image-content img{
    width: 100%;
    height: 100%;
}

.form-content {

    img.logo {
        width: 28%;
        margin: auto;   
    }
    
    h2{
        font-size: $sizeFontContent + 4px;
    }

}

.col-centered-csoft {
    float: none;
    margin: 0 auto;
}

.remove-padding {
    padding-left: 0px !Important;
}

.errorCSOFT {
    color: #FF0000;
}